*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

a.title-logo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
}

nav .active a,
nav a:hover{
    background-color: black;
    color: white;
}

section#banner{
    background-image: url('../images/image1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}