* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

a.title-logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

nav .active a,
nav a:hover {
    background-color: black;
    color: white;
}

section#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/image1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    display: flex;
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: black;
    font-size: 70px;
    text-shadow: 0px 1px 0px rgb(116, 116, 116);
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: black;
    font-size: 21px;
    text-shadow: 0px 1px 0px rgb(116, 116, 116);
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner-1,
.banner-2,
.banner-3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.banner-1 {
    background-color: rgb(100, 100, 100);
}

.banner-2 {
    background-color: rgb(65, 65, 65);
}

.banner-3 {
    background-color: rgb(0, 0, 0);
}

.banner-title {
    font-size: 21px;
}

.banner-desc {
    font-size: 12px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding: 20px 0px;
}

.banner_options a {
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.hours-options {
    display: flex;
    justify-content: space-between;
    padding: 17px 0px;
    border-bottom: 1px solid rgb(143, 143, 143);
}

.day-options {
    font-size: 13px;
}

.open-hours {
    font-size: 13px;
}

section#geral {
    display: flex;
    justify-content: center;
}

section#geral section {
    flex: 2;
}

section#geral aside {
    flex: 1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget-title-bar {
    width: 50px;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news-date {
    display: flex;
}

article .news-posted-at {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news-comments {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px;
    font-size: 12px;
}

article .news-thumbnail {
    margin-top: 30px;
}

article .news-thumbnail img {
    width: 100%;
    height: auto;
}

article .news-title {
    padding: 25px 0px;
    color: black;
    font-size: 23px;
}

article .news-resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.departments-options {
    min-width: 200px;
}

.departament-1 {
    height: 140px;
    width: 140px;
    background-color: black;
    margin-bottom: 20px;
    margin-right: 20px;
}

.widget-desc {
    padding: 25px 0px;
    line-height: 20px;
    color: #5c5c5c;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
}

.footer-menu {
    display: flex;
}

.fm-1,
.fm-2,
.fm-3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.fm-1 {
    background-color: rgb(100, 100, 100);
}

.fm-2 {

    background-color: rgb(65, 65, 65);
}

.fm-3 {
    background-color: rgb(0, 0, 0);
}

.footer-area{
    display: flex;
    color: white;
}

.footer-areaItem{
    flex: 1;
}

.title-footer{
    color: white;
    text-shadow: 0px 1px 0px #5c5c5c;
}

.bar-footer{
    background-color: white;
}

.footer-copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.menu-mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm-line{
    display: none;
    height: 3px;
    background-color: black;
}

@media (max-width:771px){
    .banner_headline{
        padding: 20px;
    }
    
    .banner_headline h1{
        font-size: 55px;
    }

    .banner_headline h2{
        font-size: 17px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    .container{
        flex-direction: column;
    }

    section#geral section,
    section#geral aside{
        padding: 20px;
    }

    .footer-menu{
        flex-direction: column;
    }

    .footer-area{
        flex-direction: column;
        padding: 20px;
    }

    .footer-copy{
        padding-left: 20px;
    }

    header .container{
        flex-direction: row;
    }

    header{
        height: auto;
    }

    nav ul{
        flex-direction: column;
        display: none;
    }

    .logo{
        padding-left: 20px;
    }

    .menu-mobile{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mm-line{
        display: block;
    }
}